body {
	font-family: consolas;
	color: white;
	background-image: url("fundo.png"), linear-gradient(to right,black, white, white, white, black);
	text-shadow:  2px 2px 5px #000;
	background-position: 0px;
}
#canvas {
	/*transition-duration: 0.2s;*/
	border: 4px dotted #fff;
	box-shadow: 2px 2px 5px #000;
}
button {
	padding: 16px;
	border: none;
	border-radius: 8px;
	color: #333;
	transition-duration: 0.2s;
	box-shadow: 2px 2px 5px #000;
	font-weight: bold;
}
button:hover {
	box-shadow: 2px 2px 5px #f00;
	border-radius: 4px;
	padding: 16px 32px;
}
iframe{
 	position: absolute;
 	left: 64px;
 	top: 32px;
 	width: 650px;
 	height: 640px;
 	border: none;
}
 #canvas {
 	border-radius: 16px;
 }/*
 #MSGx {
 	-webkit-animation: blinky 2s infinite;
 	<button id="AA" onclick="javascript:
        location.reload(false);">RESTART</button>

 }*/

 @-webkit-keyframes blinky{
 	from {opacity: 1;}
 	50% {opacity: 0;}
 	to {opacity: 1;}
 }
 /*
	<h1>
	<font color="#fff">D</font>
	<font color="#aaa">&bull;</font>
	<font color="#fff">I</font>
	<font color="#aaa">&bull;</font>
	<font color="#fff">B</font>
	<font color="#aaa">&bull;</font>
	<font color="#fff">R</font>
	<font color="#aaa">&bull;</font>
	<font color="#fff">E</font></h1>

div {
 	border-radius: 16px;
 	position: absolute;
 	top: 64px;
 	bottom: 64px;
 	left: 768px;
 	width: 640px;
 	background-color: #333;
 	overflow: auto;
    word-break: break-all;
    color: white;
    padding: 0px 48px;
    border: 4px solid #555;
 }*/
h1 {
	font-size: 48px;
	display: inline;
}
h2 {
	font-size: 24px;
}
h5 {
	text-align: right;
}
/* Barra de scrolling*/
::-webkit-scrollbar {
	width: 16px;
}
::-webkit-scrollbar-track {
	background-color: #333;
}
::-webkit-scrollbar-thumb {
	background-color: teal;
}
::-webkit-scrollbar-button {
	background-color: #888
}
footer {
	position: absolute;
	width: 100%;
	left: -6px;
	bottom: 0;
	display: block;
}